باسلام

احتراماً، طبق قرارداد منعقده با {{طرف_قرارداد}} و با استناد به مجوز صادره از {{مرجع}}،  
برنامهٔ بارگیری {{نوع_پسماند}} مربوط به {{طرف_قرارداد}}
{% if تاریخ_شروع and تاریخ_پایان -%}
 در بازهٔ زمانی {{تاریخ_شروع}} تا {{تاریخ_پایان}}
{%- elif دوره -%}
 در {{دوره}}
{%- else -%}
 در هفتهٔ آینده
{%- endif -%}
 به شرح ذیل اعلام می‌گردد.

خواهشمند است ضمن نظارت بر حسن اجرای برنامه، گزارش عملکرد روزانه به دفتر ارسال شود.  
بدیهی است در صورت هرگونه تغییر، مراتب به‌صورت اضطراری و مکتوب اطلاع‌رسانی خواهد شد.