با عنایت به سوابق موجود، اشتغال {{عنوان_جنسیتی}} {{نام}} فرزند {{نام_پدر}} با کد ملی {{کد_ملی}}  
با درجهٔ تحصیلی {{مدرک}} در رشتهٔ {{رشته}}
{% if گرایش %} (گرایش {{گرایش}}) {% endif %}
از {{دانشگاه}} بدین‌وسیله گواهی می‌شود نامبرده

{% if تا_تاریخ1 and not از_تاریخ2 -%}
    از تاریخ {{از_تاریخ1}} لغایت {{تا_تاریخ1}}
{%- elif not تا_تاریخ1 and not از_تاریخ2 -%}
    از تاریخ {{از_تاریخ1}} تا کنون
{%- elif تا_تاریخ1 and از_تاریخ2 -%}
    از تاریخ {{از_تاریخ1}} لغایت {{تا_تاریخ1}} و نیز از {{از_تاریخ2}} تا کنون
{%- endif %}

در {{شرکت}} با سمت {{سمت}} اشتغال داشته/دارند.  

این گواهی بنا به درخواست نامبرده جهت تسلیم به {{مرجع}} صادر گردیده است.
