احتراما با توجه به توافق انجام شده در خصوص مدیریت پسماند عفونی آن شهرستان به پیوست {{نام_گزارش}} مربوط
 به {{تاریخ_گزارش}} به حضور ارسال می گردد و خواهشمند است این شرکت را از راهنمایی های خود جهت بهبود بیشتر ارائه خدمات مدیریت پسماند عفونی مطلع فرمائید.
