احتراماً، به استحضار می‌رساند:  

{{عنوان_جنسیتی}} مهندس {{نام}} با شماره ملی {{کد_ملی}}  
به‌عنوان نماینده رسمی و قانونی شرکت، جهت انجام {{امور}} به حضورتان معرفی می‌گردد.  

لذا خواهشمند است دستور فرمایید همکاری لازم با نامبرده مبذول گردد.  

پیشاپیش از حسن توجه و همکاری جنابعالی کمال تشکر و قدردانی را دارم.